coffee-api-erp/src/main/resources/sap_durit.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions
	targetNamespace="urn:sap-com:document:sap:rfc:functions"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:tns="urn:sap-com:document:sap:rfc:functions"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
	<wsdl:documentation>
		<sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
	</wsdl:documentation>
	<wsp:UsingPolicy wsdl:required="true" />
	<wsp:Policy wsu:Id="BN__ZDTS_PLAN_BDG">
		<wsp:ExactlyOne>
			<wsp:All>
				<sapattahnd:Enabled
					xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
				<saptrnbnd:OptimizedMimeSerialization
					xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"
					wsp:Optional="true" />
				<wsaw:UsingAddressing
					xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
					wsp:Optional="true" />
				<wsp:All
					xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
					<sp:TransportBinding
						xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
						xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
						xmlns:wsa="http://www.w3.org/2005/08/addressing"
						xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
						xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
						xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
						<wsp:Policy>
							<sp:TransportToken>
								<wsp:Policy>
									<sp:HttpsToken>
										<wsp:Policy>
											<sp:HttpBasicAuthentication />
										</wsp:Policy>
									</sp:HttpsToken>
								</wsp:Policy>
							</sp:TransportToken>
							<sp:AlgorithmSuite>
								<wsp:Policy>
									<sp:Basic128Rsa15 />
								</wsp:Policy>
							</sp:AlgorithmSuite>
							<sp:Layout>
								<wsp:Policy>
									<sp:Strict />
								</wsp:Policy>
							</sp:Layout>
						</wsp:Policy>
					</sp:TransportBinding>
				</wsp:All>
			</wsp:All>
			<wsp:All>
				<sapattahnd:Enabled
					xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
				<saptrnbnd:OptimizedXMLTransfer
					uri="http://xml.sap.com/2006/11/esi/esp/binxml"
					xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/"
					wsp:Optional="true" />
				<wsaw:UsingAddressing
					xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
					wsp:Optional="true" />
				<wsp:All
					xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
					<sp:TransportBinding
						xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
						xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
						xmlns:wsa="http://www.w3.org/2005/08/addressing"
						xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
						xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
						xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
						<wsp:Policy>
							<sp:TransportToken>
								<wsp:Policy>
									<sp:HttpsToken>
										<wsp:Policy>
											<sp:HttpBasicAuthentication />
										</wsp:Policy>
									</sp:HttpsToken>
								</wsp:Policy>
							</sp:TransportToken>
							<sp:AlgorithmSuite>
								<wsp:Policy>
									<sp:Basic128Rsa15 />
								</wsp:Policy>
							</sp:AlgorithmSuite>
							<sp:Layout>
								<wsp:Policy>
									<sp:Strict />
								</wsp:Policy>
							</sp:Layout>
						</wsp:Policy>
					</sp:TransportBinding>
				</wsp:All>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsp:Policy wsu:Id="BN__ZDTS_PLAN_BDG_soap12">
		<wsp:ExactlyOne>
			<wsp:All>
				<sapattahnd:Enabled
					xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
				<saptrnbnd:OptimizedMimeSerialization
					xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"
					wsp:Optional="true" />
				<wsaw:UsingAddressing
					xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
					wsp:Optional="true" />
				<wsp:All
					xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
					<sp:TransportBinding
						xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
						xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
						xmlns:wsa="http://www.w3.org/2005/08/addressing"
						xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
						xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
						xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
						<wsp:Policy>
							<sp:TransportToken>
								<wsp:Policy>
									<sp:HttpsToken>
										<wsp:Policy>
											<sp:HttpBasicAuthentication />
										</wsp:Policy>
									</sp:HttpsToken>
								</wsp:Policy>
							</sp:TransportToken>
							<sp:AlgorithmSuite>
								<wsp:Policy>
									<sp:Basic128Rsa15 />
								</wsp:Policy>
							</sp:AlgorithmSuite>
							<sp:Layout>
								<wsp:Policy>
									<sp:Strict />
								</wsp:Policy>
							</sp:Layout>
						</wsp:Policy>
					</sp:TransportBinding>
				</wsp:All>
			</wsp:All>
			<wsp:All>
				<sapattahnd:Enabled
					xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
				<saptrnbnd:OptimizedXMLTransfer
					uri="http://xml.sap.com/2006/11/esi/esp/binxml"
					xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/"
					wsp:Optional="true" />
				<wsaw:UsingAddressing
					xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
					wsp:Optional="true" />
				<wsp:All
					xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
					<sp:TransportBinding
						xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
						xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
						xmlns:wsa="http://www.w3.org/2005/08/addressing"
						xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
						xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
						xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
						<wsp:Policy>
							<sp:TransportToken>
								<wsp:Policy>
									<sp:HttpsToken>
										<wsp:Policy>
											<sp:HttpBasicAuthentication />
										</wsp:Policy>
									</sp:HttpsToken>
								</wsp:Policy>
							</sp:TransportToken>
							<sp:AlgorithmSuite>
								<wsp:Policy>
									<sp:Basic128Rsa15 />
								</wsp:Policy>
							</sp:AlgorithmSuite>
							<sp:Layout>
								<wsp:Policy>
									<sp:Strict />
								</wsp:Policy>
							</sp:Layout>
						</wsp:Policy>
					</sp:TransportBinding>
				</wsp:All>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsp:Policy wsu:Id="IF__ZDTS_PLAN">
		<wsp:ExactlyOne>
			<wsp:All>
				<sapsession:Session
					xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
					<sapsession:enableSession>false</sapsession:enableSession>
				</sapsession:Session>
				<sapcentraladmin:CentralAdministration
					xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/"
					wsp:Optional="true">
					<sapcentraladmin:BusinessApplicationID>0050568819B31EE6A58F9423E726CC50
					</sapcentraladmin:BusinessApplicationID>
				</sapcentraladmin:CentralAdministration>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsp:Policy wsu:Id="OP__ZFTS_PLAN">
		<wsp:ExactlyOne>
			<wsp:All>
				<saptrhnw05:required
					xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
				<sapcomhnd:enableCommit
					xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
				<sapblock:enableBlocking
					xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
				<saprmnw05:enableWSRM
					xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsdl:types>
		<xsd:schema attributeFormDefault="qualified"
			targetNamespace="urn:sap-com:document:sap:rfc:functions">
			<xsd:simpleType name="char1">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="1" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="char10">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="10" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="char12">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="12" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="char16">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="16" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="char18">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="18" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="char4">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="4" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="char40">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="40" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="date10">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="10" />
					<xsd:pattern value="\d\d\d\d-\d\d-\d\d" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="numeric7">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="7" />
					<xsd:pattern value="\d*" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="quantum13.3">
				<xsd:restriction base="xsd:decimal">
					<xsd:totalDigits value="13" />
					<xsd:fractionDigits value="3" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="string">
				<xsd:restriction base="xsd:string" />
			</xsd:simpleType>
			<xsd:simpleType name="time">
				<xsd:restriction base="xsd:time">
					<xsd:pattern value="[0-9]{2}:[0-9]{2}:[0-9]{2}" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="unit3">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="3" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="ZFTSPLN_PLANO">
				<xsd:sequence>
					<xsd:element name="AGRUPADOR" type="tns:numeric7" />
					<xsd:element name="DEPOSITO" type="tns:char4" />
					<xsd:element name="TXTDEPOSITO" type="tns:char16" />
					<xsd:element name="ESTACAO" type="tns:char4" />
					<xsd:element name="TXTESTACAO" type="tns:char16" />
					<xsd:element name="ORDEM" type="tns:char12" />
					<xsd:element name="MATERIAL" type="tns:char18" />
					<xsd:element name="TXTMATERIAL" type="tns:char40" />
					<xsd:element name="LOTE" type="tns:char10" />
					<xsd:element name="DIA" type="tns:date10" />
					<xsd:element name="HORA" type="tns:time" />
					<xsd:element name="QUANTIDADE" type="tns:quantum13.3" />
					<xsd:element name="UNIDADE" type="tns:unit3" />
					<xsd:element name="ESTADO" type="tns:char1" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="TABLE_OF_ZFTSPLN_PLANO">
				<xsd:sequence>
					<xsd:element name="item" type="tns:ZFTSPLN_PLANO"
						minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="ZFTS_PLAN">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="TBL_PLANODIARIO"
							type="tns:TABLE_OF_ZFTSPLN_PLANO" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ZFTS_PLANResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="EX_ERRO" type="tns:string" />
						<xsd:element name="TBL_PLANODIARIO"
							type="tns:TABLE_OF_ZFTSPLN_PLANO" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="ZFTS_PLAN">
		<wsdl:part name="parameters" element="tns:ZFTS_PLAN" />
	</wsdl:message>
	<wsdl:message name="ZFTS_PLANResponse">
		<wsdl:part name="parameter" element="tns:ZFTS_PLANResponse" />
	</wsdl:message>
	<wsdl:portType name="ZDTS_PLAN">
		<wsp:Policy>
			<wsp:PolicyReference URI="#IF__ZDTS_PLAN" />
		</wsp:Policy>
		<wsdl:operation name="ZFTS_PLAN">
			<wsp:Policy>
				<wsp:PolicyReference URI="#OP__ZFTS_PLAN" />
			</wsp:Policy>
			<wsdl:input message="tns:ZFTS_PLAN" />
			<wsdl:output message="tns:ZFTS_PLANResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ZDTS_PLAN_BDG" type="tns:ZDTS_PLAN">
		<wsp:Policy>
			<wsp:PolicyReference URI="#BN__ZDTS_PLAN_BDG" />
		</wsp:Policy>
		<soap:binding
			transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<wsdl:operation name="ZFTS_PLAN">
			<soap:operation
				soapAction="urn:sap-com:document:sap:rfc:functions:ZDTS_PLAN:ZFTS_PLANRequest"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="ZDTS_PLAN_BDG_soap12"
		type="tns:ZDTS_PLAN">
		<wsp:Policy>
			<wsp:PolicyReference
				URI="#BN__ZDTS_PLAN_BDG_soap12" />
		</wsp:Policy>
		<wsoap12:binding
			transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<wsdl:operation name="ZFTS_PLAN">
			<wsoap12:operation
				soapAction="urn:sap-com:document:sap:rfc:functions:ZDTS_PLAN:ZFTS_PLANRequest"
				style="document" />
			<wsdl:input>
				<wsoap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<wsoap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ZDTS_PLAN_SRV">
		<wsdl:port name="ZDTS_PLAN_BDG" binding="tns:ZDTS_PLAN_BDG">
			<soap:address
				location="http://SAPPRD.duritprivate.pt:8000/sap/bc/srt/rfc/sap/zdts_plan/200/zdts_plan_srv/zdts_plan_bdg" />
		</wsdl:port>
		<wsdl:port name="ZDTS_PLAN_BDG_soap12"
			binding="tns:ZDTS_PLAN_BDG_soap12">
			<wsoap12:address
				location="http://SAPPRD.duritprivate.pt:8000/sap/bc/srt/rfc/sap/zdts_plan/200/zdts_plan_srv/zdts_plan_bdg" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>